<table class="table">
  <thead>
    {{#if channel.automationOverriden}}
      <tr><td class="channel-name override" colspan=4>{{channel.name}} (Automation Overridden)</td></tr>
    {{else}}
      <tr><td class="channel-name" colspan=4>{{channel.name}}</td></tr>
    {{/if}}
  </thead>
  <tbody>
    {{#each filteredSummaries as |event|}}
      <tr class="{{if (eq event activeEvent) 'on-air'}}">
        <td>{{moment-format event.start}} - {{moment-format event.end}}</td>
        <td>{{event.show.id}} - {{event.show.title}}</td>
        <td>{{event.device.name}}</td>
      </tr>
    {{else}}
      <tr><td>There are currently no shows scheduled on this channel.</td></tr>
    {{/each}}
  </tbody>
</table>